<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Formulaire</title>
    <link href="~/resources/Index.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="~/resources/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Formulaire TP HN avis</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/Home/Index">Accueil</a></li>
            <li><a href="#">Liste avis</a></li>
        </ul>
    </nav>
    <section>
        <p>
            
        </p>
    </section>
</body>
</html>

