@{
    ViewData["Title"] = "HN - TP LOCAL";
    ViewData["H1"] = "Bienvenue dans le TP HN";
    ViewData["LienNav1"] = "Form";
    ViewData["NomLien1"] = "Remplir le formulaire";
    ViewData["LienNav2"] = "ListeAvis";
    ViewData["NomLien2"] = "Liste avis";
}
    <section>
        <p>
            <a href="/Home/Index/Form">Remplir le formulaire</a>
        </p>
    </section>


